.navbar-brand {
    background-color: teal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
    margin: 0px !important;
    margin-left: 35px !important;
}

.navbar {
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: solid;
    border-color: darkgrey;
}

#navbarSupportedContent {
    margin-right: 20px;
    position: absolute;
    right: 10px;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
}

.bio-image {
    float: left;
    max-width: 30%;
    height: auto;
    margin-right: 20px;

}

h1 {
    color: teal;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 20px;
}

body {
background-color: lightgray;
}

.aboutMe {
    background-color: white;
    width: 60%;
    margin-left: 35px;
}

.content {
    margin-bottom: 200px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: slategray;
    color: white;
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
    border-top: solid;
    border-color: teal;
    border-top-width: thick;
  }

/* Portfolio */

.images {
    margin: 20px;
}

.portImage {
    width: 150px;
    height: 120px;
}

.portfolio {
    background-color: white;
    width: 35%;
    margin-left: 35px;
    margin-bottom: 200px;
}

/* Contact */

.contact {
    background-color: white;
    width: 60%;
    margin-left: 35px;
    margin-bottom: 200px;  
}

.submitBtn {
    background-color: teal;
    border-color: teal;
}

  @media screen and (max-width: 320px) {
    .about-image {
      width: 100%;

    }

    .navbar-brand {
        width: 100%;
        margin-left: 0px !important;
        text-align: center;
    }

    #navbarSupportedContent {
        position: static;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 640px) {
    .aboutMe, .portfolio {
        width: 100%;
    }

    .navbar-brand {
        width: 100%;
        margin-left: 0px !important;
        text-align: center;
    }

    #navbarSupportedContent {
        position: static;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .aboutMe, .portfolio {
       width: 100%;
    }

    .navbar {

    }
}

@media screen and (max-width: 980px) {
    .navbar {
        padding: 0;
        
    }
}